<div class="expanded margin-none dashboard-wrapper">
  <% if current_user %>
      <%= render 'layouts/sidebar_navigation' %>
  <% end %>

  <section class="s-wallet">
    <div class="s-wallet__wrapper">
      <h1 class="s-wallet__title"><%= t('.title') %></h1>
      <%= render 'user_balance' %>
      <%= render 'user_transactions' %>
    </div>
    <%= hidden_field_tag 'wallet-transaction_id', params[:transaction_id] %>
  </section>
</div>

