<li class="l-comments__item  comment-no-<%= @comment.id %>">
    <div class="l-comments__avatar">
        <% if @comment.user.picture? %>
            <%= link_to (image_tag @comment.user.picture, :size => "30x30"), @comment.user %>
        <% else %>
            <%= gravatar_for_user(@comment.user) %>
        <% end %>
    </div>
    <div class="l-comments__description">
        <div class="l-comments__content">
            <%= auto_link((simple_format @comment.body), html:{ target: '_blank' })%>
        </div>
        <div class="l-comments__date">
            <%= l(@comment.created_at, format: :long) if !@comment.created_at.nil? %>
        </div>
        <div class="l-comments__attachements">
            <% if @comment.attachment.present? %>
                <% if %w{jpeg jpg png tiff gif bmp}.include?(@comment.attachment.file.extension) %>
                    <%= image_tag @comment.attachment.url, style: "width:90px ; height:90px" %>
                <% else %>
                    <a href="<%= @comment.attachment.url %>" target="_blank">
                    <h4><%= @comment.attachment.file.filename %></h4></a>
                <% end %>
            <% end %>
        </div>
    </div>
    <% if can? :destroy_task_comment, @comment.task %>
      <div class="l-comments__delete">
        <%= link_to project_task_task_comment_path(@comment.task.project.id, @comment.task.id, @comment.id), class: "btn-reset", method: :delete, data: {confirm: t("commons.are_you_sure")}, remote: true do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
</li>
